body{
     background: #94948C;

     }
     
h1   {
     text-align: center;
     color: #BC3013;
     }

p    {
     font-family:'Potta One' , cursive;
     font-size: 20px;
     text-aling: justify;
     }
hr   {
     text-aling: center; width: 95%;
     border: 2px dashed red;  }